<div class="container-content">
    <div class="category ">


      <form method="get" >
      <select onchange="this.form.submit()" class="form-select" aria-label="Default select example" name="categoryId">
          <option value="0">不分類別</option>
          <option value="1">家居物業</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
      </select>
      </form>

    </div>
    <div class="total-amount-all">
        <span class="total-amount-title">總金額：</span>
        <span id="total-amount">{{subTotals}}</span>
    </div>

    <div>
      <ul class="list-group">
{{#each accDataFin}}
        <li class="list-group-item">
          <div class="row">
            <div class="d-flex justify-content-between">
              <div>
                  <span class="spend-all">
                      <span class="spend-date">
                      <span class="material-symbols-outlined">{{this.categoryIconName}}</span>
                      <a>{{this.item}}</a>
                      <a>{{this.date.year}}-{{this.date.month}}-{{this.date.day}}</a>
                      </span>
                  </span>
                  <span>${{this.subTotal}}</span>
              </div>
              <div>
              <a class="btn btn-success" href="/accounting/{{this._id}}/edit">Edit</a>
              <form action="/accounting/{{this._id}}?_method=DELETE" method="post" style="display: inline;">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
              </form>
              </div>
            </div>
          </div>
        </li>
<!-- Modal start-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">WARNING</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        你確定要刪除這筆帳嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No!</button>
          <form action="/accounting/{{this._id}}?_method=DELETE" method="post" style="display: inline;">
             <button class="btn btn-danger" name="_method" type="submit">Yes,delete it!</button>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal end-->
{{/each}}        
      </ul>
    </div>
    <div>
      <a class="btn btn-light mt-4" href="/accounting/create">新增支出</a>
    </div>
</div>




<script>
    document.querySelectorAll('.form-select option')
    .forEach(e => { 
        if(e.value == {{this.categoryIdFin}})
        e.setAttribute('selected', 'selected') 
        })
</script>


