<div class="container-content">
    <div class="category ">
      <select class="form-select" aria-label="Default select example">
          {{!-- <option selected>Open this select menu</option> --}}
          <option value="1">家居物業</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
      </select>
    </div>
    <div class="total-amount-all">
        <span class="total-amount-title">總金額：</span>
        <span id="total-amount">25600</span>
    </div>

    <div>
      <ul class="list-group">
{{#each accData}}
        <li class="list-group-item">
          <div class="row">
            <div class="d-flex justify-content-between">
              <div>
                  <span class="spend-all">
                      <span class="spend-date">
                      <a>{{this.item}}</a>
                      <a>{{this.date}}</a>
                      </span>
                  </span>
                  <span>${{this.subTotal}}</span>
              </div>
              <div>
              <a class="btn btn-success" href="/accounting/{{this._id}}/edit">edit</a>
              <form action="/accounting/{{this._id}}?_method=DELETE" method="post" style="display: inline;">
                <button class="btn btn-danger" name="_method" type="submit">delete</button>
              </form>
              </div>
            </div>
          </div>
        </li>
{{/each}}        
      </ul>
    </div>
    <div>
      <a class="btn btn-light mt-4" href="/accounting/create">新增支出</a>
    </div>
</div>
